.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
 
# Exclude all SVG files
**/svg
**/*.svg

.DS_Store
Thumbs.db
keystrokes/

.env
